@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Days+One|Kanit|Lato|Paytone+One|Ubuntu|Varela');
.shadow {
  text-shadow: 5px 5px 20px rgba(255, 255, 255, 0.5);
}
.clearfix:after {
  display: table;
  content: '';
  clear: both;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.button-to-top {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 75px;
  height: 75px;
  background-color: #000;
  display: none;
}
.button-to-top div {
  letter-spacing: 0px;
  text-align: center;
}
.button-to-top div + div {
  margin-bottom: 5px;
}
.button-to-top-center {
  left: 50%;
  bottom: 0px;
}
.button-round {
  border-radius: 50%;
}
header .container nav {
  display: none;
}
@media (min-width: 768px) {
  header .container nav {
    display: block;
  }
}
header .container nav > ul > li {
  display: inline-block;
  float: left;
}
header .container nav > ul > li.has-subnav {
  position: relative;
}
header .container nav > ul > li.has-subnav .subnav {
  display: none;
  z-index: 1;
}
header .container nav > ul > li.has-subnav .subnav.show-subnav {
  display: block;
  position: absolute;
  top: 100%;
}
header .container nav > ul > li.has-subnav .subnav .subnav-item {
  background: #fff;
}
@media (max-width: 767px) {
  header .container nav.mobile-menu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e9531d;
    z-index: 1;
  }
}
header .container .contact {
  display: none;
}
@media (min-width: 768px) {
  header .container .contact {
    display: block;
  }
}
header .container .burger-container {
  position: absolute;
  font-size: 50px;
  top: 10px;
  right: 10px;
  z-index: 1;
}
@media (min-width: 768px) {
  header .container .burger-container {
    display: none;
  }
}
.jumbotron {
  position: relative;
  background: url(../img/event-1.jpg);
  background-size: cover;
  background-position: center center;
  border-radius: 0;
  height: 200px;
}
@media (min-width: 768px) {
  .jumbotron {
    height: 415px;
  }
}
@media (min-width: 1200px) {
  .jumbotron {
    height: 680px;
  }
}
.jumbotron .icon {
  position: absolute;
  bottom: 10px;
  left: 50%;
  color: #fff;
}
.jumbotron .jumbotron-content {
  color: #fff;
  position: absolute;
}
footer {
  color: #fff;
  background-color: #000;
  bottom: 0;
  width: 100%;
}
footer .bs-col {
  text-align: center;
}
@media (min-width: 768px) {
  footer .bs-col:first-child {
    text-align: left;
  }
  footer .bs-col:last-child {
    text-align: right;
  }
}
a {
  text-decoration: none;
}
span.main-title {
  color: #fff;
}
p {
  color: #646569;
  padding: 15px;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
.center-transform {
  transform: translate(-50%, -50%);
}
.sticky {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
}
.sticky-bg {
  background-color: #999;
}

/*# sourceMappingURL=base.css.map */
