@import "./less/base/variables.less";
@import "./less/base/mixins.less";
@import "./less/base/flex-mixins.less";

@import "./less/base/reset.less";

@import "./less/layout/header.less";

@import "./less/layout/main.less";

@import "./less/layout/footer.less";


// Styling =============================================================//

* {
  // border: 1px solid lightgray;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  color: @color-text;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.center-transform {
  transform: translate(-50%, -50%);
}





.sticky {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
}

.sticky-bg {
  background-color: #999;
}
