// Mixins =============================================================//


// Font Mixins =============================================================//


.shadow {
 text-shadow: 5px 5px 20px rgba(255, 255, 255, 0.5);
}

.set-padding(){
  padding: @spacing-mobile;
  @media(min-width: 768px){
    padding: @spacing-tablet;
  }
  @media(min-width: 768px){
    padding: @spacing-tablet;
  }
  @media(min-width: 1200px){
    padding: @spacing-desktop;
  }
}

.set-padding-left(){
  padding-left: @spacing-mobile;
  @media(min-width: 768px){
    padding-left: @spacing-tablet;
  }
  @media(min-width: 768px){
    padding-left: @spacing-tablet;
  }
  @media(min-width: 1200px){
    padding-left: @spacing-desktop;
  }
}

.set-padding-right(){
  padding-right: @spacing-mobile;
  @media(min-width: 768px){
    padding-right: @spacing-tablet;
  }
  @media(min-width: 768px){
    padding-right: @spacing-tablet;
  }
  @media(min-width: 1200px){
    padding-right: @spacing-desktop;
  }
}
.set-padding-top(){
  padding-top: @spacing-mobile;
  @media(min-width: 768px){
    padding-top: @spacing-tablet;
  }
  @media(min-width: 768px){
    padding-top: @spacing-tablet;
  }
  @media(min-width: 1200px){
    padding-top: @spacing-desktop;
  }
}
.set-padding-bottom(){
  padding-bottom: @spacing-mobile;
  @media(min-width: 768px){
    padding-bottom: @spacing-tablet;
  }
  @media(min-width: 768px){
    padding-bottom: @spacing-tablet;
  }
  @media(min-width: 1200px){
    padding-bottom: @spacing-desktop;
  }
}

.set-margin(){
  margin: @spacing-mobile;
  @media(min-width: 768px){
    margin: @spacing-tablet;
  }
  @media(min-width: 768px){
    margin: @spacing-tablet;
  }
  @media(min-width: 1200px){
    margin: @spacing-desktop;
  }
}

.set-margin-left(){
  margin-left: @spacing-mobile;
  @media(min-width: 768px){
    margin-left: @spacing-tablet;
  }
  @media(min-width: 768px){
    margin-left: @spacing-tablet;
  }
  @media(min-width: 1200px){
    margin-left: @spacing-desktop;
  }
}

.set-margin-right(){
  margin-right: @spacing-mobile;
  @media(min-width: 768px){
    margin-right: @spacing-tablet;
  }
  @media(min-width: 768px){
    margin-right: @spacing-tablet;
  }
  @media(min-width: 1200px){
    margin-right: @spacing-desktop;
  }
}
.set-margin-top(){
  margin-top: @spacing-mobile;
  @media(min-width: 768px){
    margin-top: @spacing-tablet;
  }
  @media(min-width: 768px){
    margin-top: @spacing-tablet;
  }
  @media(min-width: 1200px){
    margin-top: @spacing-desktop;
  }
}
.set-margin-bottom(){
  margin-bottom: @spacing-mobile;
  @media(min-width: 768px){
    margin-bottom: @spacing-tablet;
  }
  @media(min-width: 768px){
    margin-bottom: @spacing-tablet;
  }
  @media(min-width: 1200px){
    margin-bottom: @spacing-desktop;
  }
}
