@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Days+One|Kanit|Lato|Paytone+One|Ubuntu|Varela');


// Variables =============================================================//

@font-title: 'days one', sans-serif;
@font-text: 'Lato', sans-serif;

// Colors
@color-primary: #000;
@color-secondary: #FF5000;
@color-neutral: #fff;

// Font colors
@color-text: #646569;

@color-title: #FF5000;

// Spacing
@spacing-mobile: 20px;
@spacing-tablet: 20px;
@spacing-desktop: 30px;


// Asset paths

@path-img  : '../img';
@path-font : '../fonts';
