header {
  .container {
    .display-flex();
    .justify-content(space-between);
    .align-items(center);
    .set-padding();
    .logo-wrapper {
      width: 120px;
      @media(min-width: 1200px){
        width: 236px;
      }
    }
    nav {
      @media(max-width: 991px){
        overflow: scroll;  
      }
      display: none;
      @media(min-width: 992px){
        display: block;
      }
      > ul {
        .display-flex();
        .flex-direction(column);
        @media(min-width: 992px){
          .flex-direction(row);
        }
        font-family: @font-title;
        font-size: 18px;
        // font-size: 14px;
        // @media(min-width: 992px){
        //   font-size: 18px;
        // }
        > li {
          .set-padding();
          &.has-subnav {
            position: relative;
            .subnav {
              display: none;
              z-index: 1;
              @media(min-width: 992px){
                position:absolute;
                background: @color-neutral;
              }
              top: 100%;
              .subnav-item {
                padding: 12px 24px;
              }
            }
          }
          a {
            color: #fff;
            font-size: 30px;
            @media(min-width: 992px){
              font-size: inherit;
              color: #000;
            }
            &:hover,
            &:focus {
              color: @color-secondary;
              text-decoration: none;
            }
            &:visited {
            }
          }
        }
      }
      &.nav-mobile {
        @media(max-width:992px){
          .display-flex();
					.flex-direction(column);
					.justify-content(center);
					.align-items(center);
					position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(0,0,0,0.8);
          z-index: 2;

        }
      }
    }
    .contact {
      display: none;
      width: 120px;
      text-align: right;
      @media(min-width: 992px){
        .display-flex();
        .align-items(center);
        .justify-content(flex-end);
      }
      .image-wrapper {
        width: 33px;
      }
      .contact-details {
        text-align: right;
        line-height: 1;
        p {
          margin-bottom: 0;
          font-size: 14px;
        }
      }
    }
    .burger-container {
      position: absolute;
      font-size: 30px;
      top: 50%;
      transform: translateY(-50%);
      right: 30px;
      z-index: 100;
      @media(min-width: 992px){
        display: none;
      }
      .icon {
        &.white {
          color: #fff;
        }
      }
    }
  }
}
